<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1000006" android:versionName="100.00.06" package="com.rz.usagesexampl" platformBuildVersionCode="1000006" platformBuildVersionName="100.00.06">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="27"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:allowBackup="true" android:supportsRtl="true" android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:name="com.rz.usagesexampl.ActSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.rz.usagesexampl.ActHTTPVolleyHelper"/>
    </application>
</manifest>
